/* ******************** */
/*  HEADER */
/* ******************** */

.header {
    padding: 8rem 2rem 10rem;

    img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
    }

    p {
        margin-bottom: 3rem;
    }
}

.logo-moving {
    animation: logo-moving 3s linear;
}

@keyframes logo-moving {
    0% {
        transform: translateY(-30%);
    }

    33% {
        transform: translateY(0)
    }

    66% {
        transform: translateY(-30%)
    }

    100% {
        transform: translateY(0)
    }

}